.reserver{
    background-color: rgb(70, 170, 133);
    display: flex;
    justify-content:center;
    background-image: url('img/change.jpg')

}

body h1{color:red;
        display:flex;
        justify-content:center;
}



.methode_coaching{
    background-image: url('img/change.jpg');
    background-color:green;


}

.img{display:flex;
    height:100%;
    justify-content:center;
    
}

.h3{
    background-color: aqua;
    display:flex;
    justify-content:center;
}

.add_note{
    display:flex;
    justify-content:flex-end;
}

.home_img {
    background-image: url('img/eclaircie.jpg');
    width:1000px;
}