{% comment %} <p>Nous sommes là pour vous aider.</p>
{%block title %} ajout note {% endblock%}
<form action="" method="post" novalidate>
{% csrf_token %}
{{ user}}
<input type="submit" value="Envoyer">    # ou pr mettre bouton >>> <input type="submit" class ="save_btn"> mettre ce qu'on veut voir apparaître sur le bouton     </button>
</form> {% endcomment %}

<form method='POST'> 
    {%csrf_token %}
    {{form.as_p}}
    <button type='submit'> login </button>
</form>
{% comment %} {{user}} {% endcomment %}