{% extends 'rendez_vous/base.html' %}

<p> hello comment ca va </p>

{% block content %}

       
<div class="home_img">                
    {% comment %} <img src="{% static 'img/aigle.jpg' %}" alt="aigle volant"> {% endcomment %}
</div>           
        


    {% comment %} {% endfor %}
{% else %}
  
{% endif %} {% endcomment %}
{% endblock %}



{% comment %} {%if notes %}
    {% for note in notes %} {% endcomment %}


    {% comment %} <h2><a class="article-title" href="#">{{ note.title }}</a></h2>
    <div class="article-metadata">
        <small class="article-author">{{ note.author }}, </small>
        <small class="article-date">{{ note.creation_date }}</small>
    </div>
    <p class="article-content">{{ note.content }}</p> {% endcomment %}