{% extends "rendez_vous/base.html" %}

{% block content %}
<h1>Notes des utilisateurs</h1>
<form method='POST'> 
    {%csrf_token %}
    {{form.as_p}}
    <button type='submit'> valider le client sélectionné</button>
</form> 

<a href="{% url 'notes_ciblees' user %}">voir mes notes associées à ce client</a>

 {%endblock%} 

{% comment %} 
<form action:"notes_ciblees" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enregistrer">
  </form> {% endcomment %}
  

  {% comment %} <a href="{% url 'notes_ciblees' uers %}">voir mes notes associées à ce client</a> {% endcomment %}

  
  {% comment %} <ul>
    {% for user in users %}
    
        <li>{{ user}}
            <a href="{% url 'notes_ciblees' %}">voir mes notes associées à ce client</a>
        </li>
    {% endfor %} {% endcomment %}















{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enregistrer">
  </form> {% endcomment %}